<div class="p-3 white">
    <div class="mt-3 mb-2 text-center">
        <h4 style="display: inline-block;" class="text-uppercase red-candy-color" >Dashboard</h4>
    </div>
    <ul class="list-group list-group-flush text-capitalize res-text-center">
        <a href="/orders/display-orders" class="list-group-item list-group-item-action">Display Orders</a>
        <a href="/products/add-products" class="list-group-item list-group-item-action">Add products</a>
        <a href="/products/admin/display-products" class="list-group-item list-group-item-action">Display products</a>
        <a href="/products/display-to-add-slider" class="list-group-item list-group-item-action sr-only">Display products for slide</a>
        <a href="/products/add-category" class="list-group-item list-group-item-action">Add category</a>
        <a href="/products/display-category" class="list-group-item list-group-item-action">Display category</a>
        <a href="/admin/display-all-users" class="list-group-item list-group-item-action">Display all users</a>
        <a href="/admin/add-admin" class="list-group-item list-group-item-action">Add Admin</a>
        <a href="/admin/display-admin" class="list-group-item list-group-item-action">Display all Admin</a>
        <!--
        <a href="/products/add-product-sizes" class="list-group-item list-group-item-action">Add product sizes</a>
        <a href="/products/update-products" class="list-group-item list-group-item-action">Update products</a>
        -->
    </ul>
</div>