<footer>
	<div class="footer-top pl-3 pr-3 pt-2" style="background-color: #ffffff; color:#666666;">
		<div class="row ml-0 mr-0">
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-3 pb-3" data-toggle="modal" data-target="#payment-system">
				<h5 style="display:inline-block; margin-right:15px;">Payment Method: </h5>
				<div style="display:inline-block; letter-spacing:3px;">
					<img src="/images/rocket.png" alt="rocket" style="width:50px; height:30px;">
					<img src="/images/bkash.jpg" alt="" style="width:50px; height:30px;">
				</div>

			
				<!-- Modal -->
				<div class="modal fade" id="payment-system" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Payment Numbers</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:red;">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>bKash  : 01648533173</p>
								<p>Rocket : 01648533173</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right follow-us pt-3 pb-3">
				<h5 style="display:inline-block; margin-right:15px;">Follow us on: </h5>
				<div class="social-logo" style="display:inline-block;letter-spacing:3px;">
					<a href="https://www.facebook.com/7street.shopping/"><i class="fa fa-facebook" style="padding:7px 9px;color:#4267b2;"></i></a>
					<a href="https://twitter.com/7StreetShopping"><i class="fa fa-twitter" style="color:#1da1f2;"></i></a>
					<a href="https://www.instagram.com/the_7street_shopping/"><i class="fa fa-instagram" style="color:#ca3088;"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-bottom red-candy pl-3 pr-3 pt-2">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2" style="border-right:1px solid #ffffff;">
				<div>
					<h5 class="pl-3 mb-0">Contact Us</h5>
				</div>
				<div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Emergency Contact: 01648533173</li>
						<li class="list-group-item">Email: 7streetshopping@gmail.com</li>
					</ul>
				</div>
				<div class="social-logo res-ml-0" style="display:inline-block;letter-spacing:3px; margin-left: 20px;">
					<a href="https://www.facebook.com/7street.shopping/"><i class="fa fa-facebook" style="padding:7px 9px;color:#4267b2;font-size: 12px;"></i></a>
					<a href="https://twitter.com/7StreetShopping"><i class="fa fa-twitter" style="color:#1da1f2;font-size: 12px;"></i></a>
					<a href="https://www.instagram.com/the_7street_shopping/"><i class="fa fa-instagram" style="color:#ca3088;font-size: 12px;"></i></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2" style="border-right:1px solid #ffffff;">
				<div>
					<h5 class="pl-3 mb-0">Services</h5>
				</div>
				<div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" data-toggle="modal" data-target="#help-center">Help Center</li>
						<a href="/how-to-buy" class="list-group-item">How to buy?</a>
						<a href="/return-policy" class="list-group-item">Return/Refunds Policy</a>
					</ul>

					<!-- Modal -->
					<div class="modal fade" id="help-center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document" style="color: green;">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle1">Help Center</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:red;">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Email  : 7streetshopping@gmail.com</p>
									<p>WhatsApp : +88-01648533173</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
				<div>
					<h5 class="pl-3 mb-0">About Us</h5>
				</div>
				<div>
					<ul class="list-group list-group-flush" style="border:none;">
						<li class="list-group-item">7 Street Shopping</li>
						<li class="list-group-item">Rajshahi, 6260</li>
						<address style="padding: 0 1.25rem; margin: 0;">
							Baneshwar,Puthia-6260,Rajshahi
						</address>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</footer>

