<div>
    <div>
        <h1 class="pl-3 pt-2">How to buy?</h1>
        <hr>
    </div>
    <div style="line-height:2;">
        <ul>
            <li>Firstly, go to your web browser and type in www.the7streetshopping.com to visit our website.</li>
            <li>It is not mandatory to SIGN UP, you may check out or place your order through adding in your cart as a guest.</li>
            <li>We offer various payment method, you can pay us by online i.e. Bkash or Rocket & Cash on Delivery.</li>
            <li>Pre-order: These products are not yet available for purchase or these products could be internationally shipped but you can pre-order them and will reach you within the delivery time mentioned.</li>
            <li><strong>Happy browsing and shopping through 7 Street Shopping</strong></li>
        </ul>
    </div>
</div>