<div>
    <div>
        <h1 class="pl-3 pt-2">Return/Refunds Policy</h1>
        <hr>
    </div>
    <div style="line-height:2;">
        <div>
            <p>Refunds or exchanges are only applicable to Non branded products. Refunds or exchanges must be within seven (7) days of purchase.</p>
            <p>Refunds or exchanges will not be provided if you simply want a different color, change of specifications, change a non-defective unit for a different model/brand, or if you simply change your mind. </p>
            <p>We may accept refunds or exchanges, and to determine either to exchange or refund, in the event the goods:</p>
            <div>
                <ul>
                    <li>Are not functioning or damage due to a manufacturing defect</li>
                    <li>Do not match the description by which they were sold</li>
                    <li>Are of the wrong model, design or color to what you have ordered.</li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <h3></h3>
            </div>
        </div>
        <div>
            <div>
                <h3>Conditions Apply for Return/refund</h3>
            </div>
            <div>
                <ul>
                    <li>Your item must be unused and in the same condition that you received it.</li>
                    <li>The product must include the original tags, user manual, warranty cards, freebies and accessories.</li>
                    <li>The product must be returned in the undamaged manufacturer packaging / box.</li>
                    <li>Your item needs to have the receipt or proof of purchase.</li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <h3>Refunds</h3>
            </div>
            <div>
                <ul>
                    <li>Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.</li>
                    <li>If your return is approved, we will initiate a refund to your original method of payment.</li>
                    <li>You will receive the credit usually within 5 working days.</li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <h3>Valid reasons to return an item</h3>
            </div>
            <div>
                <ul>
                    <li>- Delivered Product is damaged (physically destroyed or broken) / defective (dead on arrival)</li>
                    <li>- Delivered Product is incorrect (presentation different on website) / incomplete (missing parts)</li>
                    <li>- Delivered Product is “No longer needed” (you no longer have a use for the product / you have changed your mind about the purchase / the size of a fashion product does not fit / you do not like the product after opening the package) - eligible for selected products only</li>
                </ul>
                <p><strong>** Please note that this policy does not apply for Global products.</strong></p>
            </div>
        </div>
        <div>
            <div>
                <h3>Items Not Eligible</h3>
            </div>
            <div>
                <p>Products on sale are non-returnable. This includes items in our Limited offering collection. And please note that this policy does not apply 7 street shopping Global products.</p>
            </div>
        </div>
        <div>
            <div>
                <h3>Shipping</h3>
            </div>
            <div>
                <p>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are nonrefundable.</p>
            </div>
        </div>
        <div>
            <div>
                <h3>Questions about a Return?</h3>
            </div>
            <div>
                <p>If you have any questions on how to return your item to us, contact us at 7streetshopping@gmail.com </p>
            </div>
        </div>
    </div>
</div>