<div class="row mt-2">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 offset-md-3 offset-lg-3 offset-sm-2">
        <div class="text-center white">
            <h1 class="text-capitalize p-2 red-candy-color">reset password</h1>
        </div>
        <hr class="mt-2 mb-1" style="border-color:red;">

        <div class="white">
            <form class="p-3" action="/users/reset-password" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{ email }}" placeholder="Enter email" readonly>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Enter previous password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter previous password">
                </div>
                <div class="form-group text-center">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button type="submit" class="btn btn-red-candy">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>